{% extends 'base.html' %} 
{% load static %} 
{% block title %} Google Map{%endblock title %} 

{% block main %}
<main>
  <div class="cover">
    <div class="container">
      <h1 class="covers_h1">Google Map Location</h1>
      <h4><span class="covers_span">Home/</span>Google Map Location</h4>
    </div>
  </div>
  <div id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24732.667897779636!2d45.416448!3d39.206912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401433002c2b0f1d%3A0x8d45203a423fbde4!2sBolt%20Taksi%20Xidm%C9%99ti!5e0!3m2!1str!2saz!4v1721797634237!5m2!1str!2saz"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
{% endblock main %}
